.header  {
  font-family: monospace;
  background: papayawhip;
  
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  justify-content: center;
  align-self: center;
  flex: 0 2 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex: 1 1 0;
  align-items: center;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
  display: flex;
  margin: 7px;
  align-items: center;
}